* {
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}