.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}


.home_title{
  animation: show_title 1s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.searchBar{
  animation: show_searchBar 2s ease-out;
  margin-bottom: 3%;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#inputBar{
  position: relative;
  display: flex;
  justify-content: center;
}

.material-icons{
  position: absolute;
  font-size: 2rem;
  right: 12%;
  color: black;
}

#search_msg{
  font-size: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

#bar{
  font-size: 1.5rem;
  width: 75%;
  height: 5%;
  outline: none;
  box-shadow: 4px 8px grey;
}

#error{
  color: red;
  font-weight: bold;
  font-size: 1rem;
}

/* Animations */
@keyframes show_title {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
  
@keyframes show_card {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes show_searchBar {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


@media only screen and (min-width: 540px) {

  .home_title{
    animation: show_title 1s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #search_msg{
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  #bar{
    font-size: 2rem;
    width: 75%;
    height: 5%;
    outline: none;
  }
  
  #error{
    color: red;
    font-weight: bold;
    font-size: 2rem;
  }

  .material-icons{
    position: absolute;
    font-size: 3rem;
    right: 12%;
    color: black;
  }
}

@media only screen and (min-width: 768px) {
  .home_title{
    color: white;
    animation: show_title 1s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #search_msg{
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  #bar{
    font-size: 3rem;
    width: 75%;
    height: 5%;
    outline: none;
  }
  
  #error{
    color: red;
    font-weight: bold;
    font-size: 2rem;
  }

  .material-icons{
    position: absolute;
    font-size: 3.5rem;
    right: 12%;
    color: black;
  }
}

@media only screen and (min-width: 1024px) {
  .home_title{
    color: white;
    animation: show_title 1s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #search_msg{
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  #bar{
    font-size: 3rem;
    width: 75%;
    height: 5%;
    outline: none;
  }
  
  #error{
    color: red;
    font-weight: bold;
    font-size: 2rem;
  }

  .material-icons{
    position: absolute;
    font-size: 3.5rem;
    right: 12%;
    color: black;
  }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .home_title{
      color: white;
      animation: show_title 1s ease-in-out;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    #search_msg{
      font-size: 2rem;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    
    #bar{
      font-size: 3rem;
      width: 75%;
      height: 5%;
      outline: none;
    }

    .material-icons{
      position: absolute;
      font-size: 3.5rem;
      right: 12%;
      color: black;
    }
    
    #error{
      color: red;
      font-weight: bold;
      font-size: 2rem;
    }
}