body{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}


.home_title{
  color: black;
  animation: show_title 1s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.searchBar{
  animation: show_searchBar 2s ease-out;
  margin-bottom: 3%;
  margin-top: 0%;
}

#bar{
  font-size: 150%;
  border: 2px solid black;
  width: 75%;
  height: 5%;
  outline: none;
}

#error{
  color: red;
  font-size: 150%;
}

/* Animations */
@keyframes show_title {
    0% {
      padding-top: 2%;
      opacity: 0;
    }
  
    100% {
      padding-top: 4%;
      opacity: 1;
    }
  }
  
@keyframes show_card {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes show_searchBar {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}