/* Table */
input[type=text]{
    width: 200px;
} 

input[type=number]{
    width: 200px;
} 

::placeholder {
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
}

input[type="text"]:disabled {
  background: yellow;
}

input[type="number"]:disabled {
  background: yellow;
}

/* Changes the color of anything bold to be red. */
b{
	color: red;
}

/* Select */
#num_of_assessments{
	text-align: center;
	font-size: 1.5rem;
}

select{
	height: 30px;
	font-size: 1.2rem;
}

/* calculate mark button */
#calculate_mark{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 1.5rem;
	font-weight: bold;
	border: none;
	background-color: #ffff00;
	padding: 10px;
	text-decoration: none;
}

/* Cards */
.card{
  font-size: 1.5rem;
  animation: show_name 3s ease-out;
  margin-bottom: 50px;
  width: 47%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 8px rgba(0,0,0,0.5);
  transition: 0.5s;
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
}

.card:hover {
  box-shadow: 8px 16px rgba(0,0,0,0.2);
}

.card_title, .card_content{
  margin: 0;
  padding: 0;
}

.card_title{
  text-align: center;
  border-bottom: 1px solid red;
}

.card_content{
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
}