.searchBar{
    animation: show_searchBar 2s ease-out;
    position: relative;
    left: 40%;
    margin-bottom: 30px;
}

#bar{
    font-size: 20px;
    border: 2px solid black;
    width: 20%;
    height: 5%;
}