.table_title{
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0px;
    padding-bottom: 0px;
	margin-top: 15px;
}

.table{
	display: table;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    padding: 0px;
    margin-top: 0px;
}

.tr, .th{
    display: table-row;
}

.td, .mark, .weight{
    display: table-cell;
    font-size: 1.25rem;
    color: black;
    background-color: white;
    padding-left: 5px;
    border: 1px solid black;
    height: 50px;
    text-align: center;
 }

 .td_left{
    display: table-cell;
    font-size: 1.25rem;
    color: black;
    background-color: white;
    padding-left: 5px;
    margin-left: 27%;
    border: 1px solid black;
    height: 50px;
    text-align: center;
 }